{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Ramco Institute of Technology</title>
    <style>
        body {background-image: url({% static 'images/background.jpg' %});
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
    </style>
<body >
    <div class="rit"></div>
    <img src="{% static 'images/rit.jpg' %}" alt="">
    <div class="container">           

        
<div class="container container-login" style="margin-top: 100px;margin-top: 100px; font-size:larger;">
   
    <div class="row justify-content-center">
        {% if error_message %}
        <div>
            {{ error_message }}
            <div class="col-md-6">
               <a href="{% url 'signup' %}"><button >Back</button></a>
            </div>
            
        </div>
        {% endif %}
        {% if success %}
        <form method="post" action="{% url 'signup' %}" autocomplete="off"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-all">
                <div class="admission">
                    <br><br><br><br>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" name="Name" id="Name" class="form-control" placeholder="Enter the name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email-ID</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" name="Password" class="form-control" placeholder="Enter Password" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="conform_Password">Confirm Password</label>
                                <input type="password" name="conform_Password" class="form-control" placeholder="Enter Confirm Password" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="but" style="margin-left: 850px;">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        {% endif %}
      </div>
   
  </div>
</div>


<script>
   // Get the "Bill It" button
    
   document.addEventListener('DOMContentLoaded', function() {
    const popup = document.getElementById('popup');
    const closeBtn = document.getElementById('close-btn');

    if (popup) {
      popup.style.display = 'block';
      closeBtn.addEventListener('click', function() {
        popup.style.display = 'none';
      });
    }
  });
</script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>